
.table-view{
    -fx-background-color: #000000;
}

.table-row-cell {
    -fx-background-color: #000000;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-font: 18px "Arial";
}

.table-row-cell:hover {
    -fx-text-background-color: #64b852;
}

.text-field{
    -fx-text-inner-color:  #ffffff;
    -fx-background-color:  #000000;
}

.root{
    -fx-background-color: black;
    -fx-border-color: black;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;

}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #000000, #000000);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;

}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .label{
    -fx-text-fill: #AFAFAF;
}

.table-view .table-cell{

    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;

}


.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #000000, #64b852);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

